/* You can add global styles to this file, and also import other style files */
.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: fadeIN; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.8s; /* don't forget to set a duration! */
  }

  
